@import url(http://fonts.googleapis.com/css?family=Allerta);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);




body {
	margin:0;
	padding:0;
	padding-bottom: 20px;
	color:#000;
	font-family: arial, helvetica, sans-serif;
	text-align:center;
	font-size:14px;
  /*
  background-color:#990e00;
  */
  background-color: #730A00;
}

#banner {
  border:none;
  min-height: 100px;
  background-color:#990e00;
  /*
  border: none;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #990D00),
    color-stop(1, #730A00)
    );
  background-image: -o-linear-gradient(bottom, #990D00 0%, #730A00 100%);
  background-image: -moz-linear-gradient(bottom, #990D00 0%, #730A00 100%);
  background-image: -webkit-linear-gradient(bottom, #990D00 0%, #730A00 100%);
  background-image: -ms-linear-gradient(bottom, #990D00 0%, #730A00 100%);
  background-image: linear-gradient(to bottom, #990D00 0%, #730A00 100%);
  */
  /*
  background-color: #730A00;
  */
  /*
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #730A00),
    color-stop(1, #990D00)
    );
  background-image: -o-linear-gradient(bottom, #730A00 0%, #990D00 100%);
  background-image: -moz-linear-gradient(bottom, #730A00 0%, #990D00 100%);
  background-image: -webkit-linear-gradient(bottom, #730A00 0%, #990D00 100%);
  background-image: -ms-linear-gradient(bottom, #730A00 0%, #990D00 100%);
  background-image: linear-gradient(to bottom, #730A00 0%, #990D00 100%);
  */
}

#footer {
  min-height: 100px;
  /*
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #730A00),
    color-stop(1, #990D00)
    );
  background-image: -o-linear-gradient(bottom, #730A00 0%, #990D00 100%);
  background-image: -moz-linear-gradient(bottom, #730A00 0%, #990D00 100%);
  background-image: -webkit-linear-gradient(bottom, #730A00 0%, #990D00 100%);
  background-image: -ms-linear-gradient(bottom, #730A00 0%, #990D00 100%);
  background-image: linear-gradient(to bottom, #730A00 0%, #990D00 100%);
  */
  border: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #990D00),
    color-stop(1, #730A00)
    );
  background-image: -o-linear-gradient(bottom, #990D00 0%, #730A00 100%);
  background-image: -moz-linear-gradient(bottom, #990D00 0%, #730A00 100%);
  background-image: -webkit-linear-gradient(bottom, #990D00 0%, #730A00 100%);
  background-image: -ms-linear-gradient(bottom, #990D00 0%, #730A00 100%);
  background-image: linear-gradient(to bottom, #990D00 0%, #730A00 100%);
}

#banner, #footer {
	font-family: helvetica, arial, sans-serif;
	text-align:right;
	padding-right: 1em;
	color:#510200;
	color:#000;
}

#banner a, #footer a {
	color:#510200;
	color:#fff;
	text-decoration:none;
}

#banner a:hover, #footer a:hover {
	border:none;
	color:#fff;
	color:#510200;
	color:#000;
}

#bannerLeft {
	font-size:48px;
	font-weight:bold;
	font-style:italic;
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0;
	color:#fff;
}

#bannerRight {
	margin-top:0;
	padding-top:0;
	font-size:20px;
	color:#fff;
}

#breadcrumbs {
  background-color: #990e00;
  border: none;
  padding-top: .5em;
  /*
  -moz-box-shadow: inset 0 2px 10px -2px #000;
  -webkit-box-shadow: inset 0 2px 10px -2px #000;
  box-shadow: inset 0 2px 10px -2px #000;
  */
}

#breadcrumbs a {
  font-weight: bold;
  font-size: 14px;
	margin-top:0;
	padding-top:0;
  /*
	font-size:20px;
  */
	color:#fff;
  padding-left: .5em;
  padding-right: .5em;
}

#breadcrumbs a:hover {
  /*
  color: #990e00;
  background-color: #ffffff;
  */
  color: #000000;
}

#leftColumn {
  display: none;
}

#bodyColumn {
	text-align:justify;
	margin:0;
	padding:50px;
	background-color: #fff;
	border-top:solid 2px #510200;
	border-bottom:solid 2px #510200;
  -moz-box-shadow:    inset 0 10px 10px -10px #000;
  -webkit-box-shadow: inset 0 10px 10px -10px #000;
  box-shadow:         inset 0 10px 10px -10px #000;
}


#banner, #breadcrumbs, #footer {
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
}

#banner {
  /*
    font-family: 'Lobster', Georgia, Times, serif;
  */
  /*
  font-size: 70px;
  line-height: 100px;
  */
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
  font-size: 50px;
  /*
  line-height: 55px;
  */
}

#bodyColumn p {
  /*
   font-family: 'Cabin', Helvetica, Arial, sans-serif;
   font-size: 15px;
   line-height: 25px;
  */
  
  font-family: 'Crimson Text', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}




#contentBox { 
  max-width: 850px;
  min-height: 600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#contentBox a {
	color:#000;
	color:#750007;
	color:#222;
	color:#990e00;
	font-weight:bold;
	text-decoration:none;
}

#contentBox a:hover {
	color:#750007;
	background-color:#ddd;
	color:#fff;
	background-color:#990e00;
}

#profilePic { 
  moz-border-radius: 15px;
  border-radius: 15px;
  float:left; 
  clear: both; 
  margin: 0px 20px 0.5em 0;
}

div.section {
  clear: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

h2 { 
  text-align: left;
  margin-left: 25px;
  background-color: #eee;
  font-style: italic;
}

div.section h2 {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/*
.paraleader { 
  font-weight: bold;
  font-style: italic;
}
*/
/*
.about, .gallery { 
  clear: left;
  padding: 25px;
}
*/
.gallery { 
  text-align: center;
  padding: 0;
  margin: 0;
}

.galleryItem {
  padding: 5px;
  background-color:white;
  background-color:#000;
  border: solid 1px #990e00;
  moz-border-radius: 10px;
  border-radius: 10px;
  width: 200px;
  min-height: 200px;
  display: inline-block;
  margin: 25px;
  text-align: left;
  vertical-align: top;
  position: relative;
  color: rgba(255, 255, 255, 0.2);
}

.galleryItem img, .galleryItem .caption { 
  moz-border-radius: 5px;
  border-radius: 5px;
}

.galleryItem .caption { 
  width: 196px;
  padding: 0 2px 7px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: 0;
}

.galleryItem:hover {
/*
  moz-box-shadow: 0 0 10px 3px #990e00;
  webkit-box-shadow: 0 0 10px 3px #990e00;
  box-shadow: 0px 0px 10px 3px #990e00;
*/
  moz-box-shadow: 0 0 2px 1px #990e00;
  webkit-box-shadow: 0 0 2px 1px #990e00;
  box-shadow: 0px 0px 2px 1px #990e00;
  color: rgba(255, 255, 255, 0.9);
}

#legend li.externalLink {
  background: inherit;
  padding-left: inherit;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: inherit;
  padding-right: inherit;
}