body {
    background-color: #fff;
}

a, a:visited {
  color: #ff0000;
}

a:hover {
  text-decoration: none;
  background-color: #ff0000;
  color: #fff;
}

.site-header, .site-footer {
  color: #fff;
  a, a:visited {
    color: #ff0000;
  }
  a:hover {
    background-color: #ff0000;
    color: #fff;
  }
}

.site-header {
  background-color: #000000;
  border: 0;

  a:hover {
    background-color: #000000;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
  }
}

