$ex-banner-bg-dark: #730A00;
$ex-banner-bg-light: #990e00;

$ex-content-bg: #ffffff;

$ex-link-color: #ff0000;
$ex-link-hover-color: #ffffff;
$ex-link-hover-bg: #ff0000;

$ex-footer-hover-bg: #ff0000;

