.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

body {
    background-color: #fff;
}

a, a:visited {
  color: $ex-link-color;
}

a:hover {
  text-decoration: none;
  color: $ex-link-hover-color;
  background-color: $ex-link-hover-bg;
}

.site-header, .site-footer {
  color: #fff;
  a, a:visited {
    color: #ff0000;
  }
  a:hover {
    color: #fff;
    background-color: $ex-footer-hover-bg;
  }
}

.site-header {
  background-color: #000000;
  border: 0;

  a:hover {
    background-color: #000000;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
  }
}

.social-media-list {
  /* white-space: nowrap; */
  li {
    display: inline;
  }
  a:hover {
    text-decoration: none;
    background-color: inherit;
  }
  .icon {
    color: #828282;
    font-size: 1.5em;
    :hover {
      color: $ex-footer-hover-bg;
    }
  }
  .username {
    display: none;
  }
}

.social-username {
  color: #ff0000;
}

#profilePic {
  /*
  moz-border-radius: 15px;
  border-radius: 15px;
  */
  float:left;
  clear: both;
  margin: 0px 20px 0.5em 0;
}

.pow404 {
  background-image: url("../images/pow-158867_640.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-width: 640px;
  max-width:100%;
  height:545px;
}

.pow404Text {
  font-style: italic;
  line-height: 200%;
  color: #000;
  color: #fff;

  margin-top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin:0 auto;
  overflow:hidden;
  word-wrap: break-word;
  height: 100%;

  -webkit-animation: flux404 2s infinite alternate; /* Safari 4+ */
  -moz-animation:    flux404 2s infinite alternate; /* Fx 5+ */
  -o-animation:      flux404 2s infinite alternate; /* Opera 12+ */
  animation:         flux404 2s infinite alternate; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes flux404 {
  0%   { line-height: 200%; max-width:100%; }
  100% { line-height: 150%; max-width:95%; }
}
@-moz-keyframes flux404 {
  0%   { line-height: 200%; max-width:100%; }
  100% { line-height: 150%; max-width:95%; }
}
@-o-keyframes flux404 {
  0%   { line-height: 200%; max-width:100%; }
  100% { line-height: 150%; max-width:95%; }
}
@keyframes flux404 {
  0%   { line-height: 200%; max-width:100%; }
  100% { line-height: 150%; max-width:95%; }
}
